<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta charset="UTF-8">
    <link href="../Css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../Css/bootstrap-responsive.css" rel="stylesheet" type="text/css" />
    <link href="../Css/style.css" rel="stylesheet" type="text/css" />
    <script src="../Js/jquery.js" type="text/javascript"></script>
    <script src="../Js/jquery.sorted.js" type="text/javascript"></script>
    <script src="../Js/bootstrap.js" type="text/javascript"></script>
    <script src="../Js/ckform.js" type="text/javascript"></script>
    <script src="../Js/common.js" type="text/javascript"></script>

 

    <style type="text/css">
        body {
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }


    </style>
</head>
<body>
<form action="/updateUser" class="definewidth m20" method="post">
<input name="id" th:value="${user.id}" type="hidden" />
    <table class="table table-bordered table-hover definewidth m10">
        <tr>
            <td class="tableleft" width="10%">登录名</td>
            <td th:text="${user.account}"></td>
        </tr>
        <tr>
            <td class="tableleft">密码</td>
            <td><input name="password" type="text"/><span id="password"></span></td>
        </tr>
        <tr>
            <td class="tableleft">真实姓名</td>
            <td><input name="name" th:value="${user.name}" type="text" /><span id="name"></span></td>
        </tr>
        <tr>
            <td class="tableleft">邮箱</td>
            <td><input name="email" th:value="${user.email}" type="text"/><span id="email"></span></td>
        </tr>
        <tr>
            <td class="tableleft">状态</td>
            <td>
                <input name="state" th:checked="${user.state eq '启用'}" type="radio" value="启用"/> 启用
              <input name="state" th:checked="${user.state eq '禁用'}" type="radio" value="禁用"/> 禁用
            </td>
        </tr>
        <tr>
            <td class="tableleft">角色</td>
            <td>
            	<select name="roleId">
                    <option th:each="role:${roles}" th:selected="${role.id eq user.roleId}" th:text="${role.name}" th:value="${role.id}"></option>
       			 </select>
        	</td>
        </tr>
        <tr>
            <td class="tableleft"></td>
            <td>
                <button class="btn btn-primary update" type="button">更新</button>&nbsp;&nbsp;<button class="btn btn-success" onclick="javascript:window.history.back(-1);"
                                                                                             type="button">返回列表</button>
            </td>
        </tr>
    </table>
</form>
                                                                                            
</body>
</html>
<script>
    $(function () {
        $(".update").click(function () {
            var number = 0;
            alert("准备提交");
            var $start = document.getElementsByTagName("input");
            for (var i = 0; i < $start.length; i++) {
                var type = $start[i].type;
                if (type == "text") {
                    number += startCheck($start[i]);
                }
            }
            if (number == 0) {
                $(this).attr("type", "submit");
                alert("提交成功")
            }
        })
    });

    function myFocus() {
        this.style.backgroundColor = "#FFDDDD";
    }

    function myBlur() {
        this.style.backgroundColor = "#FFFFFF";
        startCheck(this);
    }

    function mySelect() {
        selectCheck(this);
    }

    window.onload = function () {
        var elements = document.getElementsByTagName("input");
        for (var i = 0; i < elements.length; i++) {
            var type = elements[i].type;
            if (type == "text") {
                elements[i].onfocus = myFocus;
                elements[i].onblur = myBlur;
            }
        }
    };

    function startCheck(oInput) {
        if (!oInput.value) {
            oInput.focus();
            document.getElementById(oInput.name).innerHTML = "不能为空";
            return 1;
        } else {
            document.getElementById(oInput.name).innerHTML = "";
        }
        if (oInput.name == "name") {
            var regName = new RegExp("^[\u4E00-\u9FA5]{2,8}$");
            if (!regName.test(oInput.value)) {
                oInput.focus();
                document.getElementById(oInput.name).innerHTML = "姓名必须为2个到8个之间的汉字";
                return 1;

            } else {
                document.getElementById(oInput.name).innerHTML = "";
            }

        }  else if (oInput.name == "email") {
            var email = new RegExp("^[a-z0-9A-Z]+[- |a-z0-9A-Z._]+@([a-z0-9A-Z]+(-[a-z0-9A-Z]+)?\\.)+[a-z]{2,}$");
            if (!email.test(oInput.value)) {
                oInput.focus();
                document.getElementById(oInput.name).innerHTML = "格式不正确";
                return 1;
            } else {
                document.getElementById(oInput.name).innerHTML = "";
            }
        }   else if (oInput.name == "account"){
            var name = /^[a-zA-Z0-9_\u4e00-\u9fa5]+$/;
            if (!name.test(oInput.value)) {
                oInput.focus();
                document.getElementById(oInput.name).innerHTML = "只含有汉字、数字、字母、下划线，下划线位置不限";
                return 1;
            } else  {
                var account = oInput.value;
                $.ajax({
                    url:"/findUserByAccount",
                    type:"post",
                    dataType:"json",
                    data:{account:account},
                    success:function (num) {
                        if (num==1){
                            $("#account").html("账号已存在");
                        }else {
                            document.getElementById(oInput.name).innerHTML = "";
                            $("#account").html("");
                        }
                    }
                });
            }
        }
        else if (oInput.name == "password") {
            var password = /^[a-zA-Z]\w{4,17}$/;
            if (!password.test(oInput.value)) {
                oInput.focus();
                document.getElementById(oInput.name).innerHTML = "正确格式为：以字母开头，长度在5-18之间";
                return 1;
            } else {
                document.getElementById(oInput.name).innerHTML = "";
            }
        }else {
            document.getElementById(oInput.name).innerHTML = "";
        }
        return 0;
    }
</script>