<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>交易额</title>
    <script src="../Js/jquery.js" type="text/javascript"></script>
    <script src="/Js/jquery.js" type="text/javascript"></script>
    <script src="/Js/echarts.min.js"></script>
    <script src="../Js/echarts.min.js"></script>
</head>
<body>
<div id="echarts_post" style="width:600px;height:600px;"></div>
<script>
    $(function(){
        $.ajax({
            url:"turnoverEcharts",
            type:"post",
            dataType:"json",
            traditional: true,
            success:function (turnoverEcharts) {
                var types = [];
                for (var i=0; i<turnoverEcharts.length;i++) {
                    types.push(turnoverEcharts[i].type);
                }
                var surplus = [];
                for (var j=0; j<turnoverEcharts.length;j++) {
                    surplus.push(turnoverEcharts[j].profit);
                }
                var myChart = echarts.init(document.getElementById('echarts_post'));
                var option = {
                    xAxis: {
                        type: 'category',
                        data: types
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: [{
                        data: surplus,
                        type: 'bar'
                    }]
                };
                myChart.setOption(option);
            }
        });

    });
</script>
</body>
</html>