<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhiyou100.hospital.mapper.MedicineEchartsMapper">
    <resultMap id="medicineEcharts" type="MedicineEcharts">
        <result column="type" property="type"/>
        <result column="surplus" property="surplus"/>
    </resultMap>

    <select id="queryAll" resultMap="medicineEcharts">
        select type,SUM(surplus) surplus  from medicine GROUP BY type
    </select>

</mapper>